# =============== #
# Unity Generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Crash reports
sysinfo.txt

# =============== #
# OS Generated    #
# =============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =============== #
# IDE Generated   #
# =============== #
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# JetBrains Rider
/[Aa]ssets/Plugins/Editor/JetBrains*
*.iml

# Visual Studio
*.csproj
*.unityproj
*.sln
*.vs
.vsconfig

# =============== #
# Unity Asset Cache#
# =============== #
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/AddressableAssetsData*
/[Aa]ssets/StreamingAssets/aa/*

# =============== #
# Builds          #
# =============== #
*.apk
*.aab
*.app
*.exe
*.xcodeproj
*.xcworkspace
*.ipa

# =============== #
# Other           #
# =============== #
*.log
*.bak
*.tmp
*.swp
*.lock
*.pid
